@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
<link href="~/HomeTemplate/css/bootstrap.css" rel="stylesheet" />
<link href="~/HomeTemplate/css/bootstrap-extended.css" rel="stylesheet" />
<center style="margin-top:150px;">
    <div class="badge alert-warning">
        <h1>@ViewBag.Title.</h1>
        <div class="">
            <p class="badge alert-danger">
                Please check your email to reset your password..Thank you!
            </p>
        </div>
    </div>
</center>

