
@model IReadyonlineexam.Models.MergeLoginRegister﻿
@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Views/Home/Shared/_HomeLayoutPage.cshtml";
}

<center><h2>Course Details</h2></center>

<div>
    <div id="two-columns" class="container">
        @foreach (var item in ViewBag.Cource_details)
        {
            <div class="row">
                <!-- content -->
                <article id="content" class="col-xs-12 col-md-9">
                    <!-- product description column -->
                    <div class="query-wrap">
                        @*<div class="quantity">
                <input type="number" class="form-control" min="1" value="1">
            </div>*@
                        @*<a href="checkout.html" class="btn btn-warning btn-theme font-lato text-uppercase">Add to cart</a>*@
                        <button class="btn btn-warning btn-theme font-lato text-uppercase cse" data-id="@item.CourceId" style="margin-left: 25%;">Add to cart</button>
                    </div>
                    <div class="product-description-column">
                        <div class="alignleft">
                            @*<img src="~/Images/CourseImages/@item.imgurl" style="height:147px;" />*@
                            <img src="~/Images/CourseImages/@item.imgurl" alt="iready" style="width: 409px;height: 490px;margin-top: 5%;" />
                        </div>
                        <div class="descr-wrap">
                            <h2>@item.CourceName</h2>
                            <!-- reviews wrap -->
                            @*<div class="reviews-wrap">
                    <ul class="star-rating list-unstyled">
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                    </ul>
                    <strong class="fw-normal font-lato element-block text-small">(5 Customers reviews)</strong>
                </div>*@
                            <!-- price -->
                        </div>
                        <strong class="price element-block fw-semi">&#8377;@item.Price</strong>
                        <p style="text-align:justify;">@item.Description</p>
                        @*<p>Air plant keffiyeh tilde umami PBR&B taxidermy yr next level. Glossier authentic normcore, keytar tumblr green juice VHS copper mug chartreuse portland banjo single origin coffee tattooed pabst. Raclette trust fund 8-bit you probably haven't heard of them fap.</p>*@
                        @*<strong class="element-block storage-tag text-success fw-normal font-lato">In stock</strong>*@
                        <!-- query wrap -->
                        <br />

                        @*<div class="categories-wrap font-lato">
                <p>Category: <a href="#">Stationary</a>, <a href="#">Notebook</a></p>
                <p>Tags: <a href="#">Pencil</a>, <a href="#">Drawing</a></p>
            </div>*@

                    </div>
                    <!-- pro descr tab list -->
                    @*<ul class="nav nav-tabs pro-descr-tab-list font-roboto" role="tablist">
            <li role="presentation"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation" class="active"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews (2)</a></li>
        </ul>*@
                    <div class="tab-content">
                        @*<div role="tabpanel" class="tab-pane fade" id="Description">
                <p>@item.Description
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>*@
                        @*<div role="tabpanel" class="tab-pane fade in active" id="Reviews">
                <h4>2 Reviews for Product</h4>
                <ul class="list-unstyled reviewsList">
                    <li>
                        <div class="alignleft">
                            <a href="#"><img src="http://placehold.it/50x50" alt="Lavin Duster"></a>
                        </div>
                        <div class="description-wrap">
                            <div class="descrHead">
                                <h3>Lavin Duster &ndash; <time datetime="2011-01-12">March 7, 2016</time></h3>
                                <ul class="star-rating list-unstyled justify-end">
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                </ul>
                            </div>
                            <p>Brunch fap cardigan, gentrify put a bird on it distillery mumblecore you probably haven't heard of them asymmetrical bushwick. Put a bird on it schlitz fashion.</p>
                        </div>
                    </li>
                    <li>
                        <div class="alignleft">
                            <a href="#"><img src="http://placehold.it/50x50" alt="Tim Cook"></a>
                        </div>
                        <div class="description-wrap">
                            <div class="descrHead">
                                <h3>Tim Cook &ndash; <time datetime="2011-01-12">March 5, 2016</time></h3>
                                <ul class="star-rating list-unstyled justify-end">
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                    <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                </ul>
                            </div>
                            <p>Flxie sartorial cray flexitarian pop-up health goth single-origin coffee sriracha</p>
                        </div>
                    </li>
                </ul>
                <form action="#" class="reviesSubmissionForm">
                    <h2 class="text-noCase">Add a Review</h2>
                    <p>Your email address will not be published. Required fields are marked <span class="required">*</span></p>
                    <div class="form-group">
                        <span class="formLabel fw-normal font-lato no-shrink">Your Rating</span>
                        <ul class="star-rating list-unstyled">
                            <li>
                                <input id="rate1" class="customFormReset" type="checkbox">
                                <label for="rate1" class="fas fa-star"><span class="sr-only">star</span></label>
                            </li>
                            <li>
                                <input id="rate2" class="customFormReset" type="checkbox">
                                <label for="rate2" class="fas fa-star"><span class="sr-only">star</span></label>
                            </li>
                            <li>
                                <input id="rate3" class="customFormReset" type="checkbox">
                                <label for="rate3" class="fas fa-star"><span class="sr-only">star</span></label>
                            </li>
                            <li>
                                <input id="rate4" class="customFormReset" type="checkbox">
                                <label for="rate4" class="fas fa-star"><span class="sr-only">star</span></label>
                            </li>
                            <li>
                                <input id="rate5" class="customFormReset" type="checkbox">
                                <label for="rate5" class="fas fa-star"><span class="sr-only">star</span></label>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="rview" class="formLabel fw-normal font-lato no-shrink">Your Review <span class="required">*</span></label>
                        <textarea id="rview" class="form-control element-block"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name" class="formLabel fw-normal font-lato no-shrink">Name <span class="required">*</span></label>
                        <input id="name" class="form-control element-block" type="text">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="formLabel fw-normal font-lato no-shrink">Email <span class="required">*</span></label>
                        <input id="Email" class="form-control element-block" type="email">
                    </div>
                    <button type="submit" class="btn btn-theme btn-warning text-uppercase font-lato fw-bold">Submit</button>
                </form>
            </div>*@
                    </div>
                    @*<h2>Related Products</h2>
        <div class="row flex-wrap">
            <div class="col-xs-12 col-sm-4">
                <!-- product module -->
                <article class="product-module">
                    <div class="aligncenter">
                        <a href="#"><img src="http://placehold.it/262x290" alt="image description"></a>
                    </div>
                    <h3 class="fw-semi"><a href="#">Wirebound Notebook Set</a></h3>
                    <ul class="star-rating list-unstyled">
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                    </ul>
                    <strong class="price element-block fw-semi">$10.00</strong>
                    <a href="#" class="btn btn-default font-lato text-uppercase">Add to cart</a>
                </article>
            </div>
            <div class="col-xs-12 col-sm-4">
                <!-- product module -->
                <article class="product-module">
                    <div class="aligncenter">
                        <a href="#"><img src="http://placehold.it/262x290" alt="image description"></a>
                    </div>
                    <h3 class="fw-semi"><a href="#">Boll Point Pen</a></h3>
                    <ul class="star-rating list-unstyled">
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                    </ul>
                    <strong class="price element-block fw-semi">$10.00</strong>
                    <a href="#" class="btn btn-default font-lato text-uppercase">Add to cart</a>
                </article>
            </div>
            <div class="col-xs-12 col-sm-4">
                <article class="product-module">
                    <div class="aligncenter">
                        <a href="#"><img src="http://placehold.it/262x290" alt="image description"></a>
                    </div>
                    <h3 class="fw-semi"><a href="#">Cashbound File Book</a></h3>
                    <ul class="star-rating list-unstyled">
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                        <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                    </ul>
                    <strong class="price element-block fw-semi">$66.00</strong>
                    <a href="#" class="btn btn-default font-lato text-uppercase">Add to cart</a>
                </article>
            </div>
        </div>*@
                </article>
                <!-- sidebar -->
                @*<aside class="col-xs-12 col-md-3" id="sidebar">
                        <!-- widget search -->
                        <section class="widget widget_search">
                            <!-- search form -->
                            <form action="#" class="search-form">
                                <fieldset>
                                    <input placeholder=" Search&hellip;" class="form-control" name="s" type="search">
                                    <button type="button" class="fas fa-search"><span class="sr-only">search</span></button>
                                </fieldset>
                            </form>
                        </section>
                        <!-- widget categories -->
                        <section class="widget widget_categories">
                            <h3>Course Categories</h3>
                            <ul class="list-unstyled text-capitalize font-lato">
                                <li class="cat-item cat-item-1"><a href="#">Notebook</a></li>
                                <li class="cat-item active cat-item-2"><a href="#">Office</a></li>
                                <li class="cat-item cat-item-3"><a href="#">Basics</a></li>
                                <li class="cat-item cat-item-4"><a href="#">Art Supplies</a></li>
                                <li class="cat-item cat-item-5"><a href="#">Materials</a></li>
                            </ul>
                        </section>
                        <!-- pricing filter widget -->
                        <section class="widget pricing_filter_widget">
                            <h3>Pricing Filter</h3>
                            <!-- filter ranger form -->
                            <form action="#" class="filter-ranger-form">
                                <div id="slider-range"></div>
                                <input type="hidden" id="amount1" name="amount1">
                                <input type="hidden" id="amount2" name="amount2">
                                <div class="get-results-wrap">
                                    <button type="button" class="btn btn-default text-uppercase">Filter</button>
                                    <p id="amount" class="font-lato"></p>
                                </div>
                            </form>
                        </section>
                        <!-- widget popular posts -->
                        <section class="widget widget_popular_posts">
                            <h3>Popular Courses</h3>
                            <!-- widget cources list -->
                            <ul class="widget-cources-list list-unstyled">
                                <li>
                                    <a href="#">
                                        <div class="alignleft">
                                            <img src="http://placehold.it/60x70" alt="image description">
                                        </div>
                                        <div class="description-wrap">
                                            <h4>Wirebound Notebook</h4>
                                            <ul class="star-rating list-unstyled">
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                            </ul>
                                            <strong class="price text-primary element-block font-lato text-uppercase">$18.00</strong>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="alignleft">
                                            <img src="http://placehold.it/60x70" alt="image description">
                                        </div>
                                        <div class="description-wrap">
                                            <h4>Compact Stabler - Blue</h4>
                                            <ul class="star-rating list-unstyled">
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                            </ul>
                                            <strong class="price text-primary element-block font-lato text-uppercase">$24.00</strong>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="alignleft">
                                            <img src="http://placehold.it/60x70" alt="image description">
                                        </div>
                                        <div class="description-wrap">
                                            <h4>Excercise Book Sets</h4>
                                            <ul class="star-rating list-unstyled">
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                                <li><span class="fas fa-star"><span class="sr-only">star</span></span></li>
                                            </ul>
                                            <strong class="price text-primary element-block font-lato text-uppercase">$33.00</strong>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </aside>*@
            </div>


        }


    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script>

    //$(document).ready(function () {

    var products = [];

    var store = localStorage;

    $('.cse').click(function () {

        //window.localStorage.clear();

        var productid = $(this).attr('data-id');

        var fruits =
        {
            queue:
                [


                ]
        };




        var restoredFruits = JSON.parse(localStorage.getItem('fruits'));

        if (restoredFruits != null) {

            var na = $(this).attr('data-id');
            if (na != "undefined") {
                restoredFruits.queue.push({
                    name: $(this).attr('data-id'),
                });
            }


        }
        else {
            window.localStorage.setItem('fruits', JSON.stringify(fruits));
            var restoredFruits = JSON.parse(localStorage.getItem('fruits'));
            var nb = $(this).attr('data-id');
            if (nb != "undefined") {
                restoredFruits.queue.push({
                    name: $(this).attr('data-id'),
                });
            }

        }


        window.localStorage.setItem('fruits', JSON.stringify(restoredFruits));
        var cart = [];
        var restoredFruits = JSON.parse(window.localStorage.getItem('fruits'));
        var outputs = "";
        var duplicat = "";

        //for (var i = 0; i < restoredFruits.queue.length; i++) {
        //   // outputs += '<div id="' + restoredFruits.queue[i].id + '">' + restoredFruits.queue[i].id + ':' + restoredFruits.queue[i].name + '</div>';
        //    outputs += "A" + restoredFruits.queue[i].name;
        //}

        for (var i = 0; i < restoredFruits.queue.length; i++) {

            var dup = new Boolean(false);
            for (var j = 0; j < i; j++) {

                if (restoredFruits.queue[i].name == restoredFruits.queue[j].name) {
                    dup = true;
                    duplicat += "A" + restoredFruits.queue[j].name;
                }
            }
            if (dup == false) {
                outputs += "A" + restoredFruits.queue[i].name;
            }

        }

        //alert(outputs);
        //alert(duplicat);

        window.location.href = '/Home/Carttable?values=' + outputs;


        function popIt() {



            var restoredFruits = JSON.parse(localStorage.getItem('fruits'));
            for (var p = 0; p < restoredFruits.queue.length; p++) {

                if (restoredFruits.queue[p].name == "135") {

                }
                else {

                }

            }
            restoredFruits.queue.shift();
            localStorage.setItem('fruits', JSON.stringify(restoredFruits));
            outputIt();
        }



        //var cart = {};
        //cart.items = [];
        //var cart = [];
        // cart.push(JSON.parse(window.localStorage.getItem('fruits')));


        //$.ajax({
        //            type: "POST",
        //            url: '/Home/cartitems',
        //            data: '{ values: "' + outputs + '" }',
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "Json",
        //            success: function (data) {
        //                alert(data)
        //                var ss = String(data)
        //                //toString(data);

        //                //var vi = String(data);
        //               // data: JSON.stringify({ 'values': data }),
        //                //window.open("/Home/Carttable/", '?val=' + cid);
        //                window.location.href = '/Home/Carttable?values=' + ss;

        //            },
        //            error: function (data) {
        //                alert(data);
        //            }
        //        });










        //window.localStorage.setItem("Cou", productid);

        //var pid = [];
        //window.localStorage['productId'] = productid;

        //pid = window.localStorage.getItem('productId');

        //for (var d = 0; d < pid.length; ++d) {

        //    alert("product Id from local storage :" + pid);
        //}


        ////products.push(productid);
        ////localStorage.setItem("Cartproducts", products);


        ////alert("product Id from Session :" + sessionStorage.getItem("Cartproduct"));

        //if (products.indexOf(productid) == -1) {

        //    //sessionStorage.setItem("Cartproduct", productid);
        //    //products.push(sessionStorage.getItem("Cartproduct"));
        //    localStorage.setItem("Cartproduct", productid);
        //    products.push(localStorage.getItem("Cartproduct"));

        //    //alert('Item add successfully..!');

        //    //store.setItem("Cartproducts", productid);
        //    //alert("Session items" + store.getItem("Cartproducts"));

        //}
        //else {

        //    //alert('Duplicate Item Found......!');

        //}

        //(function ($) {
        //    $.Shop = function (element) {
        //        this.$element = $(element);
        //        this.init();
        //    };

        //    $.Shop.prototype = {
        //        init: function () {

        //            this.Cartprifix = "Cartproducts";
        //            this.Cartname = this.Cartprifix + "Cart";


        //        }
        //    }
        //sessionStorage.clear();
        //alert("product Id from local storage :" + productid);



        //for (var i = 0; i < products.length; ++i) {

        //    alert("product Id from local storage :" + products[i]);

        //}

        //window.onload = function () {

        //    // Check for LocalStorage support.
        //    if (localStorage) {

        //        // Add an event listener for form submissions
        //        document.getElementById('contactForm').addEventListener('submit', function () {
        //            // Get the value of the name field.
        //            var name = document.getElementById('name').value;

        //            // Save the name in localStorage.
        //            localStorage.setItem('name', productid);
        //        });

        //    }

        //}


        //alert('loacal data' + localStorage.getItem("Cartproduct"));

    });
</script>

