
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Student/Shared/_EmptyLayoutPage1.cshtml";
}



<div class="row" style="margin-top:5%;margin-left:10%" >

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><span class="text-purple">OOPS!!!!</span> @TempData["Error"]</h3>
            </div>
            <div class="panel-body">
                <a href=".." class="btn btn-primary">Go Back To Home</a>
            </div>
        </div>
    </div>
</div>













