
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage.cshtml";
}

<!-- BEGIN coming-soon -->
<div class="coming-soon">
    <!-- BEGIN coming-soon-cover -->
    <div class="coming-soon-cover"></div>
    <!-- END coming-soon-cover -->
    <!-- BEGIN coming-soon-content -->
    <div class="coming-soon-content">
        <div class="brand m-b-lg">
            <a href="#"><span class="logo"><i class="ti-infinite"></i></span> IReadyToday</a>
        </div>
        <h1>@ViewBag.Text1</h1>
        <div class="coming-soon-timer" style="padding:50px;">
            @*<div id="timer"></div>*@
            <h1>@ViewBag.Text2</h1>
        </div>
        <p>We are working very hard on the new version of our site.<br /> It will bring a lot of new features. Stay tuned!</p>
    </div>
    <!-- END coming-soon-content -->
    <!-- BEGIN coming-soon-footer -->
    <div class="coming-soon-footer">
        <div class="social-list">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-instagram"></i></a>
            <a href="#"><i class="ti-twitter"></i></a>
            <a href="#"><i class="ti-google"></i></a>
            <a href="#"><i class="ti-github"></i></a>
        </div>
        <div class="coming-soon-copyright">&copy; 2017 Infinite Admin All Right Reserved</div>
    </div>
    <!-- END coming-soon-footer -->
</div>
<!-- END coming-soon -->
<!-- BEGIN btn-scroll-top -->
<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="ti-arrow-up"></i></a>
<!-- END btn-scroll-top -->
