
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Student/Shared/_StudentLayoutPage.cshtml";
}

<div class="row" style="margin-top:5%;margin-left:10%">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><span class="text-purple">@TempData["Message"]</span></h3>
                @*<p>Your Payment id is : @ViewBag.PaymentID</p>*@
            </div>
            <div class="panel-body">
                @*<a href="" class="btn btn-primary">Go Back To Home</a>*@
                @Html.ActionLink("Post Another Question", "NewQuestion_Request", new {@class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>